<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigationbar-title-font</key>
	<string>21,1</string>
	<key>navigationbar-title-color</key>
	<string>#284005</string>
	<key>navigationbar-background</key>
	<string>navigationbar-background</string>
</dict>
</plist>
