<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CREATE TABLE IF NOT EXISTS cache (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
	domain NVARCHAR(52) default &apos;G&apos;,
	key NVARCHAR(128) not null,
	value NVARCHAR(40960),
	updatetime TIMESTAMP,	
	readtime TIMESTAMP,
	UNIQUE (domain,key) ON CONFLICT REPLACE
);</string>
	<string>CREATE TABLE IF NOT EXISTS queue (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
	domain NVARCHAR(52) ,
	qid NVARCHAR(64) ,
	key NVARCHAR(64) ,
	data NVARCHAR(40960) ,
	data2 NVARCHAR(40960),
	data3 NVARCHAR(512),
	data4 NVARCHAR(512),
	data5 NVARCHAR(512),
	data6 NVARCHAR(512),
	status tinyint(1) default 0,
	updatetime TIMESTAMP default CURRENT_TIMESTAMP,
	UNIQUE (domain,qid,data)
);</string>
</array>
</plist>
