<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CREATE TABLE IF NOT EXISTS epg (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name NVARCHAR(64),
channel_id NVARCHAR(128),
start_time INTEGER,
end_time INTEGER,
UNIQUE (channel_id,start_time) ON CONFLICT REPLACE
);  </string>
	<string>CREATE TABLE IF NOT EXISTS media (
id INTEGER PRIMARY KEY AUTOINCREMENT,
flag tinyint(2),
gid NVARCHAR(64),
sid NVARCHAR(32),
cateid NVARCHAR(32),
catename NVARCHAR(32),
metadata NVARCHAR(4096),
title  NVARCHAR(128) ,
bigpic NVARCHAR(256) ,
pic  NVARCHAR(256) ,
note NVARCHAR(32),
author NVARCHAR(512),
source NVARCHAR(512),
intro NVARCHAR(1024),
content NVARCHAR(2048),
area NVARCHAR(32),
score INTEGER,
views INTEGER,
mp4 NVARCHAR(512),
m3u8 NVARCHAR(512),
pubdate TIMESTAMP,
updatetime TIMESTAMP default CURRENT_TIMESTAMP,
url NVARCHAR(512) ,
data1 INTEGER default 0,
data2 INTEGER default 0,
data3 float default 0,
data4 TIMESTAMP default CURRENT_TIMESTAMP,
data5 NVARCHAR(512),
data6 NVARCHAR(512),
UNIQUE (gid,sid) 
);  </string>
	<string>CREATE TABLE IF NOT EXISTS video_download (
id INTEGER PRIMARY KEY AUTOINCREMENT,
flag tinyint(2),
gid NVARCHAR(64),
sid NVARCHAR(32),
cateid NVARCHAR(32),
catename NVARCHAR(32),
metadata NVARCHAR(4096),
title  NVARCHAR(128) ,
bigpic NVARCHAR(256) ,
pic  NVARCHAR(256) ,
note NVARCHAR(32),
author NVARCHAR(512),
source NVARCHAR(512),
intro NVARCHAR(1024),
content NVARCHAR(2048),
area NVARCHAR(32),
score INTEGER,
views INTEGER,
mp4 NVARCHAR(512),
m3u8 NVARCHAR(512),
pubdate TIMESTAMP ,
updatetime TIMESTAMP default CURRENT_TIMESTAMP,
url NVARCHAR(512) ,
data1 INTEGER default 0,
data2 INTEGER default 0,
data3 float default 0,
data4 TIMESTAMP default CURRENT_TIMESTAMP,
data5 NVARCHAR(512),
data6 NVARCHAR(512),
starttime TIMESTAMP default CURRENT_TIMESTAMP ,
videoindex INTEGER default 0,
progress float default 0,
status INTEGER default 0,
dsize INTEGER default 0,
UNIQUE (mp4) 
);</string>
	<string>CREATE TABLE IF NOT EXISTS cache (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
	domain NVARCHAR(52) default &apos;G&apos;,
	key NVARCHAR(128) not null,
	value NVARCHAR(40960),
	updatetime TIMESTAMP,	
	readtime TIMESTAMP,
	UNIQUE (domain,key) ON CONFLICT REPLACE
);</string>
	<string>CREATE TABLE IF NOT EXISTS queue (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
	domain NVARCHAR(52) ,
	qid NVARCHAR(52) ,
	data NVARCHAR(40960) ,
	data2 NVARCHAR(512),
	data3 NVARCHAR(512),
	data4 NVARCHAR(512),
	data5 NVARCHAR(512),
	data6 NVARCHAR(512),
	status tinyint(1) default 0,
	updatetime TIMESTAMP default CURRENT_TIMESTAMP,
	UNIQUE (domain,qid,data)
);</string>
</array>
</plist>
