<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appid</key>
	<string>lava</string>
	<key>app_link</key>
	<string>http://www.tvie.com.cn</string>
	<key>build</key>
	<string>0</string>
	<key>channel</key>
	<string>lava</string>
</dict>
</plist>
